<header id="navbar-header">
    <nav id='nav-mobile'>
        <div id='header-centered'>
            <ul>
                <li>
                    <a href='/'>
                        <img src='/logo.png'
                             class='header-logo'
                             alt='DataCrank logo'
                             width={40}
                             height={40} 
                         />
                    </a>
                </li>
                <li>
                    <a href='/'>Summoner Lookup</a>
                </li>
                <li>
                    <a href='/'>Champion DB</a>
                </li>
                <li>
                    <a href='/'>Leaderboards</a>
                </li>
                <li>
                    <a href='/'>Profile</a>
                </li>
            </ul>
        </div>
    </nav>

    <nav id='nav-desktop'>
        <div id='header-left'>
            <img src='/logo.png'
                 class='header-logo'
                 alt='DataCrank logo'
                 width={40}
                 height={40} />
            <a href='/' id='logo-title'>
                <h2>DataCrank</h2>
            </a>
        </div>
        <div id='header-right'>
            <ul>
                <li>
                    <a href='/'>Summoner Lookup</a>
                </li>
                <li>
                    <a href='/'>Champion DB</a>
                </li>
                <li>
                    <a href='/'>Leaderboards</a>
                </li>
                <li>
                    <a href='/'>Profile</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

@code {

}
